# Demonstrating the TableOne package for Python

The `tableone` package is used to create Table 1 for research papers. It was inspired by the R package of the same name.

## Installation

The distribution is hosted on PyPI and directly installable via pip without needing to clone or download this repository. To install the package from PyPI, run the following command in your terminal:

``pip install tableone``

## Example of Table 1 without stratification

In [1]:
# import libraries
from tableone import TableOne
import pandas as pd

In [2]:
# load sample data into a pandas dataframe
url="https://raw.githubusercontent.com/tompollard/data/master/primary-biliary-cirrhosis/pbc.csv"
data=pd.read_csv(url, index_col='id')

In [3]:
data.head()

,time,status,trt,age,sex,ascites,hepato,spiders,edema,bili,chol,albumin,copper,alk.phos,ast,trig,platelet,protime,stage
id,,,,,,,,,,,,,,,,,,,
1,400,2,1.0,58.765229,f,1.0,1.0,1.0,1.0,14.5,261.0,2.60,156.0,1718.0,137.95,172.0,190.0,12.2,4.0
2,4500,0,1.0,56.446270,f,0.0,1.0,1.0,0.0,1.1,302.0,4.14,54.0,7394.8,113.52,88.0,221.0,10.6,3.0
3,1012,2,1.0,70.072553,m,0.0,0.0,0.0,0.5,1.4,176.0,3.48,210.0,516.0,96.10,55.0,151.0,12.0,4.0
4,1925,2,1.0,54.740589,f,0.0,1.0,1.0,0.5,1.8,244.0,2.54,64.0,6121.8,60.63,92.0,183.0,10.3,4.0
5,1504,1,2.0,38.105407,f,0.0,1.0,1.0,0.0,3.4,279.0,3.53,143.0,671.0,113.15,72.0,136.0,10.9,3.0

In [4]:
# list of columns containing continuous variables
convars = ['age','platelet','ast','bili']

# list of columns containing categorical variables
catvars = ['stage','edema']

# optionally, a list of non-normal variables
nonnormal = ['bili']

In [5]:
# create an instance of TableOne with the input arguments
# firstly, with no stratifying variable
overall_table = TableOne(data, convars, catvars, nonnormal=nonnormal)

In [6]:
# type the name of the instance in an interpreter to print the table to screen
overall_table

Overall
                       overall
---------------------  ----------------
n                      418
age (mean (std))       50.74 (10.45)
platelet (mean (std))  257.02 (98.33)
ast (mean (std))       122.56 (56.70)
bili (median [IQR])    1.40 [0.80,3.40]
stage (n (%))
1.0                    21.00 (5.10)
2.0                    92.00 (22.33)
3.0                    155.00 (37.62)
4.0                    144.00 (34.95)
edema (n (%))
0.0                    354.00 (84.69)
0.5                    44.00 (10.53)
1.0                    20.00 (4.78)

## Example of Table 1 with stratification

In [7]:
# optionally, a categorical variable for stratification
strat = 'sex'

In [8]:
# create an instance of TableOne with the input arguments
strat_table = TableOne(data, convars, catvars, strat, nonnormal)

In [9]:
strat_table

Stratified by sex
                       f                 m
---------------------  ----------------  ----------------
n                      374               44
age (mean (std))       55.71 (10.98)     50.16 (10.24)
platelet (mean (std))  231.14 (85.23)    260.08 (99.42)
ast (mean (std))       121.99 (47.01)    122.63 (57.92)
bili (median [IQR])    2.05 [1.30,3.50]  1.30 [0.70,3.40]
stage (n (%))
1.0                    18.00 (4.89)      3.00 (6.82)
2.0                    84.00 (22.83)     8.00 (18.18)
3.0                    139.00 (37.77)    16.00 (36.36)
4.0                    127.00 (34.51)    17.00 (38.64)
edema (n (%))
0.0                    318.00 (85.03)    36.00 (81.82)
0.5                    39.00 (10.43)     5.00 (11.36)
1.0                    17.00 (4.55)      3.00 (6.82)

## Testing

Compute p values by setting the ``pval`` argument to True.

In [10]:
# create strat_table with p values
strat_table = TableOne(data, convars, catvars, strat, nonnormal, pval = True)

In [11]:
strat_table

Stratified by sex
                       f                 m                 pval    testname
---------------------  ----------------  ----------------  ------  --------------
n                      374               44
age (mean (std))       55.71 (10.98)     50.16 (10.24)     0.001   One_way_ANOVA
platelet (mean (std))  231.14 (85.23)    260.08 (99.42)    0.068   One_way_ANOVA
ast (mean (std))       121.99 (47.01)    122.63 (57.92)    0.949   One_way_ANOVA
bili (median [IQR])    2.05 [1.30,3.50]  1.30 [0.70,3.40]  0.029   Kruskal-Wallis
stage (n (%))                                              0.83    Chi-squared
1.0                    18.00 (4.89)      3.00 (6.82)
2.0                    84.00 (22.83)     8.00 (18.18)
3.0                    139.00 (37.77)    16.00 (36.36)
4.0                    127.00 (34.51)    17.00 (38.64)
edema (n (%))                                              0.00    Chi-squared
0.0                    318.00 (85.03)    36.00 (81.82)
0.5                    39.00 (10.43)     5.00 (11.36)
1.0                    17.00 (4.55)      3.00 (6.82)

## Export the table to file (LaTeX, Markdown, CSV, etc)

Tables can be exported to file in various formats, including:
- LaTeX
- Markdown
- CSV
- HTML

To export the table, call the relevant `to_<format>()` method, with an optional filename.

In [12]:
# Save the overall_table as LaTeX with the default filename ('tableone.tex')
overall_table.to_latex()

In [13]:
# Save the strat_table as markdown with the filename 'strat_table.html'
strat_table.to_html('strat_table.html')