# Demonstrating the TableOne package for Python

The `tableone` package is used to create Table 1 for research papers. It was inspired by the R package of the same name.

## Installation

The distribution is hosted on PyPI and directly installable via pip without needing to clone or download this repository. To install the package from PyPI, run the following command in your terminal:

``pip install tableone``

## Example of Table 1 without stratification

In [6]:
# import libraries
from tableone import TableOne
import pandas as pd

In [7]:
# load sample data into a pandas dataframe
url="https://raw.githubusercontent.com/tompollard/data/master/primary-biliary-cirrhosis/pbc.csv"
data=pd.read_csv(url, index_col='id')

In [8]:
data.head()

,time,status,trt,age,sex,ascites,hepato,spiders,edema,bili,chol,albumin,copper,alk.phos,ast,trig,platelet,protime,stage
id,,,,,,,,,,,,,,,,,,,
1,400,2,1.0,58.765229,f,1.0,1.0,1.0,1.0,14.5,261.0,2.60,156.0,1718.0,137.95,172.0,190.0,12.2,4.0
2,4500,0,1.0,56.446270,f,0.0,1.0,1.0,0.0,1.1,302.0,4.14,54.0,7394.8,113.52,88.0,221.0,10.6,3.0
3,1012,2,1.0,70.072553,m,0.0,0.0,0.0,0.5,1.4,176.0,3.48,210.0,516.0,96.10,55.0,151.0,12.0,4.0
4,1925,2,1.0,54.740589,f,0.0,1.0,1.0,0.5,1.8,244.0,2.54,64.0,6121.8,60.63,92.0,183.0,10.3,4.0
5,1504,1,2.0,38.105407,f,0.0,1.0,1.0,0.0,3.4,279.0,3.53,143.0,671.0,113.15,72.0,136.0,10.9,3.0

In [9]:
# list of columns containing continuous variables
convars = ['time','age','ascites','hepato','spiders','bili']

# list of columns containing categorical variables
catvars = ['status','edema','stage']

# optionally, a list of non-normal variables
nonnormal = ['bili']

In [10]:
# create an instance of TableOne with the input arguments
# firstly, with no stratifying variable
overall_table = TableOne(data, convars, catvars, nonnormal=nonnormal)

In [11]:
# type the name of the instance in an interpreter to print the table to screen
overall_table

Overall
                      overall
--------------------  -----------------
n                     418
time (mean (std))     1917.78 (1104.67)
age (mean (std))      50.74 (10.45)
ascites (mean (std))  0.08 (0.27)
hepato (mean (std))   0.51 (0.50)
spiders (mean (std))  0.29 (0.45)
bili (median [IQR])   1.40 [0.80,3.40]
status (n (%))
0                     232.00 (55.50)
1                     25.00 (5.98)
2                     161.00 (38.52)
edema (n (%))
0.0                   354.00 (84.69)
0.5                   44.00 (10.53)
1.0                   20.00 (4.78)
stage (n (%))
1.0                   21.00 (5.10)
2.0                   92.00 (22.33)
3.0                   155.00 (37.62)
4.0                   144.00 (34.95)

## Example of Table 1 with stratification

In [12]:
# optionally, a categorical variable for stratification
strat = 'trt'

In [13]:
# create an instance of TableOne with the input arguments
strat_table = TableOne(data, convars, catvars, strat, nonnormal)

In [14]:
strat_table

Stratified by trt
                      1.0                2.0
--------------------  -----------------  -----------------
n                     158                154
time (mean (std))     2015.62 (1094.12)  1996.86 (1155.93)
age (mean (std))      51.42 (11.01)      48.58 (9.96)
ascites (mean (std))  0.09 (0.29)        0.06 (0.25)
hepato (mean (std))   0.46 (0.50)        0.56 (0.50)
spiders (mean (std))  0.28 (0.45)        0.29 (0.46)
bili (median [IQR])   1.40 [0.80,3.20]   1.30 [0.72,3.60]
status (n (%))
0                     83.00 (52.53)      85.00 (55.19)
1                     10.00 (6.33)       9.00 (5.84)
2                     65.00 (41.14)      60.00 (38.96)
edema (n (%))
0.0                   132.00 (83.54)     131.00 (85.06)
0.5                   16.00 (10.13)      13.00 (8.44)
1.0                   10.00 (6.33)       10.00 (6.49)
stage (n (%))
1.0                   12.00 (7.59)       4.00 (2.60)
2.0                   35.00 (22.15)      32.00 (20.78)
3.0                   56.00 (35.44)      64.00 (41.56)
4.0                   55.00 (34.81)      54.00 (35.06)

## Export the table to file (LaTeX, Markdown, CSV, etc)

Tables can be exported to file in various formats, including:
- LaTeX
- Markdown
- CSV
- HTML

To export the table, call the relevant `to_<format>()` method, with an optional filename.

In [15]:
# Save the overall_table as LaTeX with the default filename ('tableone.tex')
overall_table.to_latex()

In [16]:
# Save the strat_table as markdown with the filename 'strat_table.html'
strat_table.to_html('strat_table.html')